body {
    width: 500px;
    margin: auto;
}

#show {
    height: 100px;
    width: 500px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 1px -5px 5px -5px;
    margin: 10px;
    padding: 10px;
}

#input {
	font-style: sans-serif;
	font-size: 19px;
}

#answer {
	font-size: 30px;
	text-align: right;
}

button {
    background-color: #ffffff;
    border: 2px solid #9999ff;
    border-radius: 3px;
    padding: 10px 18px;
    margin-bottom: 2px;
    font-size: 19px;
    font-family: sans-serif;
    height: 50px;
    width: 50px;
}

button:hover {
     background-color: #9999ff;
}

#buttonsOp {

}

#buttonsOp button {
    display: block;
    text-align: center;
}

#buttonsNum {
    text-align: center;
}