body {
    width: 500px;
    margin: auto;
}

#show {
    height: 100px;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 1px -5px 5px -5px;
    padding: 10px;
}

#calc {
	box-shadow: 1px -5px 5px -5px;
}

#input {
	font-style: sans-serif;
	font-size: 19px;
}

#answer {
	font-size: 30px;
	text-align: right;
}

.op {
	background-color: #aaaaff;
}

#equals {
	background-color: #eeaaff;
}

.num {
	background-color: #9999ff;
}

/*
    border-radius: 3px;
    margin: 10px;*/

button {
    background-color: #ffffff;
    border: 0px solid #9999ff;
    padding: 10px 18px;
    margin-bottom: 0px;
    font-size: 19px;
    font-family: sans-serif;
    height: 125px;
    width: 125px;
}

button:hover {
     background-color: #9999ff;
}

#buttonsOp {

}

#buttonsOp button {
    display: block;
    text-align: center;
}

#buttonsNum {
	width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}